In [1]:
import pandas as pd 
import numpy as np

In [5]:
#read merged data
data = pd.read_csv('data/final_merged_data.csv', na_values=[""])
data

,year-quarter,state,bene_sex_desc,bene_age_desc,total_bene_th_elig,total_bene_telehealth,pct_telehealth,telehealthtype,servicecount,rateper1000beneficiaries,group,subgroup,value
0,2018-1,Alabama,NaN,NaN,NaN,NaN,NaN,Live audio/video,"6,905",5.6,NaN,NaN,NaN
1,2018-1,Alabama,NaN,NaN,NaN,NaN,NaN,Live audio/video,"4,821",3.9,NaN,NaN,NaN
2,2018-1,Alabama,NaN,NaN,NaN,NaN,NaN,Live audio/video,"2,269",1.8,NaN,NaN,NaN
3,2018-2,Alabama,NaN,NaN,NaN,NaN,NaN,Live audio/video,"2,290",1.8,NaN,NaN,NaN
4,2018-2,Alabama,NaN,NaN,NaN,NaN,NaN,Live audio/video,"2,380",1.9,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199040,2024-2,Wyoming,NaN,65-74,32849.0,2025.0,0.0616,NaN,NaN,NaN,NaN,NaN,NaN
199041,2024-2,Wyoming,NaN,75-84,21882.0,1234.0,0.0564,NaN,NaN,NaN,NaN,NaN,NaN
199042,2024-2,Wyoming,NaN,85 and over,7560.0,387.0,0.0512,NaN,NaN,NaN,NaN,NaN,NaN
199043,2024-2,Wyoming,NaN,NaN,46806.0,3411.0,0.0729,NaN,NaN,NaN,NaN,NaN,NaN
199044,2024-2,Wyoming,NaN,NaN,20500.0,1138.0,0.0555,NaN,NaN,NaN,NaN,NaN,NaN